.container {
}

.imgContainer {
  height: 220px;
  width: 100%;
  position: relative;
}

.img {
  object-fit: cover;
  filter: grayscale(90%);
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #53c28b;
  padding: 8px;
  color: white;
  gap: 12px;
}

.item {
  flex: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 42px;
  font-weight: 600;
}

.desc {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

.here {
  color: #53c28b;
  text-decoration: underline;
  padding-left: 2px;
}

/* Tablet Styles */
@media (max-width: 1023px) {
  .itemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
}
